{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Friday, 27th March 2015 are listed below :'}}
 <ul>
     <li>Workshop Event 1 {% if row.eventtype5.id  == 18 %} (Time 12 pm - 1:30 pm ) {% else %} (Time 11:30 am - 1:00 pm ) {% endif %}: {% if row.eventtype5 is null %} None {% else %} {{ row.eventtype5.description }} {% endif %}</li>
     <li>Workshop Event 2 (Time 2:30 pm - 4 pm ) : {% if row.eventtype6 is null %} None {% else %} {{ row.eventtype6.description }} {% endif %}</li>
     <li>Workshop Event 3 (Time 4 pm - 5:30 pm ) : {% if row.eventtype7 is null %} None {% else %} {{ row.eventtype7.description }} {% endif %}</li>
 </ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}