{% block body_html %}
{{ 'Hello '}}{{app.user.username}}{{','}}<br>
{{'Thank you for registering to the events of EPITA International Week. Your registered events for Thursday, 26th March 2015 are listed below :'}}
 <ul>
     <li>Cultural Event 1 (Time 10 am - 11 am ) : {% if row.eventtype1 is null %} None {% else %} {{ row.eventtype1.description }} {% endif %}</li>
     <li>Cultural Event 2 (Time 11 am - 12 pm ) : {% if row.eventtype2 is null %} None {% else %} {{ row.eventtype2.description }} {% endif %}</li>
     <li>Cultural Event 3 (Time 12 pm - 1 pm ) : {% if row.eventtype3 is null %} None {% else %} {{ row.eventtype3.description }} {% endif %}</li>
     <li>Cultural Event 4 (Time 1 pm - 2 pm) : {% if row.eventtype4 is null %} None {% else %} {{ row.eventtype4.description }} {% endif %}</li>
 </ul>
{{ 'Thank You' }},<br>
{{' Epita International Team' }}
{% endblock %}